<html>
    <head>
            <link rel="stylesheet" href="./css/style.css"></link>

    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <img class="about" src="./img/IMG_20131207_115921_02.jpg" ></img>
        </div> 
        {{>footer}}
    </body>
</html>