<html>
    <head>
            <link rel="stylesheet" href="./css/style.css"></link>

    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p style="color:dimgrey;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;margin-bottom:-10px">This site is created by Sanket Patel and its uses darksky.com and mapbox.com to get weather data.</p>
        <img class="about" src="./img/IMG_20131207_115921_02.jpg"></img>
        </div> 
        {{>footer}}
    </body>
</html>